<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLC - Sistema de Lista de Compras</title>
</head>
<body>
    {% block body %}
        <nav class="infologin">
            <p>Username: {{ request.user.username }}</p>
            <p>Email: {{ request.user.email }}</p>
            <a href="{% url 'logout' %}">Log Out</a>
        </nav>

        <article>
            <header class="cabecalho">
                <h1>Sistema de Lista de Compras</h1>
            </header>
            <main class="principal">
                <section class="listas-cadastradas">
                    <h2>Listas Cadastradas</h2>
                    <ul>
                        {% for lista in listas %}
                            <li><a href="{% url 'produto' lista.id %}">{{ lista }}</a></li>
                        {% endfor %}
                        <!-- Trabalhar aqui futuramente -->
                    </ul>
                </section>
                <section class="cadastrar-lista">
                    <h2>Cadastrar Lista</h2>
                    <form action="{% url 'lista' %}" method="post">
                        {% csrf_token %}
                        <p><input type="text" name="nome" id="nome" placeholder="Nome da Lista"></p>
                        <input type="submit" value="Criar Lista">
                    </form>
                </section>
            </main>
        </article>
    {% endblock %}
</body>
</html>