<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista</title>
</head>
<body>
    {% block body %}
        <h1>Lista: {{ lista.nome }}</h1>
        <h2>Produtos da Lista</h2>
        <ul>
            {% for produto in produtos %}
                <li>{{ produto.nome }}  R${{ produto.preco }}</li>
            {% endfor %}
        </ul>
        <p>Total: R${{ total }}</p>
        <h2>Adicionar Produtos na Lista</h2>
        <form action="{% url 'addproduto' lista.id %}" method="post">
            {% csrf_token %}
            <select name="produtos" id="">
                {% for produto in nao_produto %}
                    <option value="{{ produto.id }}">{{ produto.nome }} R${{ produto.preco }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Adicionar">
        </form>
        <a href="{% url 'index' %}">Voltar</a>
    {% endblock %}
</body>
</html>